html{
    background: rgb(31,122,12);
    background: linear-gradient(0deg, rgba(31,122,12,1) 100%, rgba(37,151,40,1) 100%); 
    
}
.intro-title{
    display: flex;
    width:max-content;
    position: relative;
    justify-content: center;
    color: #13305D;
    font-size: 35px;
    padding: 1em;
    border:#3CA12C 4px double;

}
h5.card-title{
    color: #13305D;
}

img{
    height: 400px;
    width: 200px;
}
.img-fluid-rounded-start{
    height: 150px;
    width: 350px;

}
div.card{
    border: #13305D 4px solid;
}
div.card-body{
    border: #13305D 4px solid;
}
.card-group{
    margin: 5em;
    
}
.card-title{
    font-size:  32px; 
    color: #13305D;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#3CA12C;
    font-size: 16px;
}





