/* main section*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #009432;
    background-color: #13305D;
    margin: 7em;
 
}
  


body{
    background-image: url("../images/shubham-dhage-UxDU0Gg5pqQ-unsplash.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
/*paragraph container*/
.container{
    display: flex;
    justify-content: center;
    height:250px;

   margin-top: 2em;
}
p{
    background-color:#13305D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 16px;
   color: #009432;
   max-height: 600px;
   max-width: 30ch;
   border: #3CA12C 6px solid;
   padding-top: 1em;

}
/*image*/
.div-wrapper{
    display: flex;
    justify-content: center;
}
img{
    border: #3CA12C 6px solid;
    height: 200px;
}
/*content grid*/
/* #content{ */
    /* display: grid; */
    /* grid-template-columns: repeat(12, 1fr) ; */
    /* grid-auto-rows:minmax(100px, auto) ; */
    /* grid-gap: 10px; */
    /* min-width: 960px; */
    /* margin: 0 auto; */
    /* position: relative; */
/* } */
/* #content > *{ */
/*  */
    /* padding: 30px; */
/* } */
/* grid content */
/* #grid{ */
   /* display: grid;  */
   /* position: absolute; */
   /* top: 0; */
   /* left: 0; */
   /* grid-template-columns: repeat(12,1fr); */
   /* grid-auto-rows: minmax(100%,auto); */
   /* width: 100%; */
   /* height: 100%; */
   /* background: transparent; */
   /* padding: 0; */
   /* display: none; */
/* } */
/* #grid p{ */
    /* border: 8px solid; */
    /* background: #000; */
    /* opacity: 0.2; */
/* } */
/* input:checked + #content #grid{ */
    /* display: grid; */
/* } */
/*  */
/* header */
/* header { */
    /* grid-column:1/13 ; */
    /* background-color: #13305D; */
/* } */
/* main{ */
    /* background-color:  #3CA12C; */
    /* grid-column:1/13 ; */
    /* grid-row: 2/4; */
/* } */
/*  */
/* section{ */
    /* background-color: #13305D; */
    /* grid-column: 1/13; */
    /* grid-row: 4/6; */
/* } */
/*  */


























    
    






















